@model IEnumerable<ToDoViewModel>

<div class="text-center">

    @using (Html.BeginForm("Create", "ToDo", FormMethod.Post))
    {
        <div class="input-group">

            <span class="input-group-append">
                <input type="text" class="form-control" name="text" placeholder="write todo">
                <button type="submit" class="btn btn-success">Add</button>
            </span>
        </div>
    }

    @if (Model.Any())
    {
        <table class="table table-striped table-bordered table-hover">
            @*<tr>
                <th>Text</th>
                <th></th>
                <th></th>
            </tr>*@

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Text
                    </td>
                    <td>
                        @Html.ActionLink("Update", "UpdateView", "ToDo", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "ToDo", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    }
    else 
    {
        <p>Nothing to do</p>
    }
    
    <hr />
</div>
