@model IEnumerable<ToDoViewModel>

<div class="text-center">

    @using (var form = Html.BeginForm("Create", "ToDo", FormMethod.Post))
    {
        <div class="input-group">

            <div class="input-group-append">
                <input type="text" name="text" placeholder="write todo"></input>
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    }

    @if (Model.Any())
    {
        <table>
            <tr>
                <th>Text</th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Text</td>
                    <td>
                        @Html.ActionLink("Update", "UpdateView", "ToDo", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "ToDo", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
    }
    else 
    {
        <p>Nothing to do</p>
    }
    
    <hr />
</div>
