html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

div.input-group {
    max-width: 700px;
    margin: 30px auto 10px;
    justify-content: center;
}

table {
    max-width: 700px; 
    margin: auto;
}

td {
    padding-right: 10px;
}

